@page
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mx-auto">    
    <ul class="game-list mx-auto mt-2" style="width: 90rem;">
        @foreach (var game in Model.Games)
    {
        <li class="card" style="list-style: none; width: 40rem; display: inline-block; margin: 10px;">
            <div class="card-header bg-light"><h5>Bloodwars</h5></div>
            <div class="row no-gutters">
                <div class="col-auto">
                    <a href="@Url.Page("/Cards", new {gameId = game.Id.ToShortGuid()})">
                        <img src="@Url.Page("/Image", new { imageId = game.Id.ToShortGuid() })" width="100" height="140" />
                    </a>
                </div>
                <div class="col">
                    <div class="card-block px-2" style="font-size: 0.8em">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Uploaded by @game.Owner.DisplayName</li>
                            <li class="list-group-item">Created on @game.CreatedOn.ToString("dd-MMM-yyyy")</li>
                            <li class="list-group-item">Contains <b>@game.CardCount</b> cards</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
}        
    </ul>
</div>